/*
Author: Harrison Grimberg
Date: March 3rd, 2025
File Name: style.css
*/

@charset "utf-8";
/* CSS Document */

body {
    background-color: #e2e2e2;
    background-size: cover;
    overflow-x: hidden;
    font-family: Fredoka, Roboto, Poppins, serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
    padding: 1px;
}

h1 {
    font-family: Fredoka;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

h2 {
    color: #ff0066;
    text-align: center;
    font-weight: 300;
    margin: -10px; 
    border-radius: 0px;
}

h3 {
    color: #ff0066;
    font-size: 70px;
    font-weight: bold;
}

h4 {
    color: floralwhite;
    text-align: center;
    margin: 0px; 
    background-color: #ff0066;
    font-size: 40px;
    font-weight: bold;
}

h5 {
    color: #ff0066;
    text-align: center;
    margin: 0px; 
    background-color: #ff6699;
    border-radius: 20px;
}

h6 {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#container {
    background-color: #e2e2e2;
    width: 100%;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
}


/* Header Logo Cart */
.header {
    background-color: #ff6699;
    text-align: left;
    position: relative;
    width: 100%;
    height: 110px; 
}

.header input[type=text] {
    float: right;
    width: 225px;
    padding: 6px;
    border: 3px;
    border-style: solid;
    border-color: #ff0066;
    margin-top: 6px;
    margin-right: 70px;
    font-size: 14px;
}

.logo {
    display: flex;
    position: inherit;
    left: -50px;
}

.logo img {
    list-style-position: inside;
    width: 100%;
    max-width: 325px;
    height: auto;
}

.cart {
    position: absolute;
    top: 3px;
    right: 10px;
}

.cart img {
    width: 35px;
    height: auto;
    display: block;
}


/* Navigation */
nav.topnav {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #ff0066;
    text-align: center;
}

.topnav ul {
    list-style-type: none;
    background-color: #ff0066;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.topnav ul li {
    margin: 0 5px;
    position: relative;
}

.topnav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.topnav ul li a:hover,
.topnav ul li:hover > a {
    background-color: #ff6699;
}

.topnav ul li ul {
    display: none;
    position: absolute;
    background-color: #ff0066;
    padding: 1px;
    border-radius: 0px 0px 4px 4px;
    z-index: 2;
    min-width: 180px;
}

.topnav ul li:hover ul {
    display: block;
}

.topnav ul li ul li {
    padding: 5px 14px;
    white-space: nowrap;
}

.topnav ul li ul li a {
    border-radius: 0px;
}

.topnav ul li ul li a:hover {
    background-color: #ff6699;
}

.active {
    background-color: #ff6699;
    border-left: 5px solid #ffcc00;
    border-right: 5px solid #ffcc00;
}



/*Slider*/
/*.slider {
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.slides {
    display: flex;
    width: 100%;
    animation: slide 20s infinite;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    transition: transform 5s ease-in-out;
}

@keyframes slide {
    0%    { transform: translateX(0); }
    20%   { transform: translateX(0); }
    25%   { transform: translateX(-100%); }
    45%   { transform: translateX(-100%); }
    50%   { transform: translateX(-200%); }
    70%   { transform: translateX(-200%); }
    75%   { transform: translateX(-300%); }
    95%   { transform: translateX(-300%); }
    100%  { transform: translateX(0); }
}*/


/* Slider Option 2 */
.carousel-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: -20px;
    overflow: hidden;
    position: relative;
    background-color: #e2e2e2;
}

.carousel-container input[type="radio"] {
    display: none;
}

.carousel-slides {
    display: flex;
    width: 400vw; /* 4 slides */
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    width: 100vw; 
    height: calc(100vw * 0.23); /* Height is at 23% */
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
}


/* Slide transitions */
#cslide1:checked ~ .carousel-slides { 
    transform: translateX(0%); 
}

#cslide2:checked ~ .carousel-slides { 
    transform: translateX(-100vw); 
}

#cslide3:checked ~ .carousel-slides { 
    transform: translateX(-200vw); 
}

#cslide4:checked ~ .carousel-slides { 
    transform: translateX(-300vw); 
}


/* Arrows */
.carousel-arrows label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.43);
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 2;
}

.carousel-arrows .prev { 
    left: 10px; 
}

.carousel-arrows .next {    
    right: 10px; 
}

.carousel-arrows label { 
    display: none; 
}

#cslide1:checked ~ .carousel-arrows .cs1,
#cslide2:checked ~ .carousel-arrows .cs2,
#cslide3:checked ~ .carousel-arrows .cs3,
#cslide4:checked ~ .carousel-arrows .cs4 {
    display: block;
}


/* Dots */
.carousel-dots {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    padding: 10px 0;
}

.carousel-dots label {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#cslide1:checked ~ .carousel-dots label:nth-child(1),
#cslide2:checked ~ .carousel-dots label:nth-child(2),
#cslide3:checked ~ .carousel-dots label:nth-child(3),
#cslide4:checked ~ .carousel-dots label:nth-child(4) {
    background: #000;
}



/* Main Content */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #e2e2e2; 
    justify-content: center;
    padding: 0px;
    width: 100%;
    gap: 80px;
    margin-bottom: -50px;
    z-index: 2;
    overflow-y: hidden;
}

.info {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    padding: 0px;
    border-radius: 10px;
    width: 400px;
    min-width: 30px;
    margin-bottom: 75px;
    margin-top: 30px;
    background: #fff;
    padding: 0px;
    padding-bottom: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.17);
    border-right: 8px solid #ff6699;
    border-bottom: 8px solid #ff6699;
    border-left: 8px solid #ffcc00;
    border-top: 8px solid #ffcc00;
}

.info img {
    list-style-position: inside;
    width: 100%;
    height: auto;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

.info-text {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    max-height: 450px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    z-index:2;
    text-align: center;
    border-radius: 5px;
}

.info-text h2 {
    font-size: 40px;
    font-weight: 900;
    text-shadow: 4px 4px 0 #000, 4px 4px 0 #000, 4px 4px 0 #000, 4px 4px 0 #000;
    font-family: 'Fredoka', sans-serif;
    color: #fff;
    line-height: 1;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ff0066;
}

.info-text h1 {
    font-size: 17px;
    line-height: 2.25;
    margin-left: 5px;
    margin-right: 5px;
}

.main-links{
    display: flex;
    justify-content: center;
}

.main-links a {
    background-color: #ff6600;
    color: white;
    margin-top: 10px;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.main-links a:hover {
    background-color: #e65e03;
    transform: translateY(-2px);
}

.main-links a:active {
    background-color: #ff0066;
    transform: translateY(0);
}




/* About Content */
.flex-about{
    background-color: #e2e2e2;
    margin-bottom: -165px;
}

.flex-about h3{
    position: relative;
    left: 695px;
    top: 75px;
    z-index: 1;
    text-shadow: 2px 2px 0 #000, 2px 2px 0 #000, 2px 2px 0 #000, 2px 2px 0 #000;
}

.about-content {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    width: 100%;
    align-items: center; 
    text-align: left;
    margin-top: -85px;
    background-color: #ffffff;
    background-size: cover;
    box-shadow: 10px 10px 5px #a3a3a3;
}

.about-content h1 {
    left: 0px;
    margin-left: 650px;
    margin-right: 50px;
    margin-top: 175px;
    margin-bottom: 120px;
    padding: 5px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 1.2em;
    font-weight: 500;
    color: #000;
    line-height: 1.8;
    background-color: #fff;
    border-right: 8px solid #ffcc00;
    border-bottom: 8px solid #ff0066;
    border-left: 8px solid #ffcc00;
    border-top: 8px solid #ff0066;
    border-radius: 5px;
    z-index: 1;
}

.collage {
    width: 65%;
    height: auto;
    position: relative;
    left: -75px;
    bottom: 800px;
    margin-bottom: -725px;
}

.yellow {
    width: 100px;
    height: auto;
    position: relative;
    left: 1375px;
    bottom: 900px;
    margin-bottom: -725px;
}


/*Testimonials*/
.testimonials {
    display: flex;
    justify-content: center;
    padding-right: 200px;
    padding-left: 200px;
}

.flex-testimonials h4 {
    margin-top: 125px;
    text-shadow: 4px 4px 0 #000, 4px 4px 0 #000, 4px 4px 0 #000, 4px 4px 0 #000;
    font-family: 'Fredoka', sans-serif;
    padding: 10px;
}

.testimonials p {
    left: 100px;
    padding: 25px;
    font-size: 1em;
    font-weight: 500;
    z-index: 2
}

.peach-splash {
    position: relative;
    width: 300px;
    left: -45px;
    top: -385px;
    margin-bottom: -375px;
    z-index: 1
}

.color-splash {
    position: relative;
    width: 225px;
    left: 100px;
    top: -425px;
    margin-bottom: -375px;
}


/*Our Juices*/
.flex-flavors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    clear: both;
    margin-top: 35px;
    margin-bottom: 55px;
    margin-left: 25px;
    margin-right: 25px;
    gap: 65px;
}

.flavors-row {
    width: 285px;
    flex-wrap: wrap;
    height: auto;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    line-height: 25px;
    box-shadow: 10px 10px 5px #a3a3a3;
    border-radius: 8px;
}

.flex-flavors > div h2 {
    margin-top: -27px;
    margin-bottom: 12px;
    text-align: center;
    line-height: 25px;
    font-family: 'Fredoka', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 2px 0 #000, 2px 2px 0 #000, 2px 2px 0 #000, 2px 2px 0 #000;
}

.flex-flavors img {
    border-radius: 10px;
    margin-top: 5px;
}

.flex-flavors h6 {
    margin-top: 5px;
}


.quantity-selector {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: fit-content;
}

.qty-btn {
    padding: 4px 14px;
    background-color: #f0f0f0;
    border: none;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

.qty-btn:hover {
    background-color: #e0e0e0;
}

.qty-input {
    width: 35px;
    text-align: center;
    border: none;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    font-weight: 500;
    outline: none;
}

.quantity {
    margin-top: 
}

.add-to-cart-btn {
    background-color: #ff6600;
    color: white;
    margin-top: 10px;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.add-to-cart-btn:hover {
    background-color: #e65e03;
    transform: translateY(-2px);
}

.add-to-cart-btn:active {
    background-color: #ff0066;
    transform: translateY(0);
}

.price {
    margin-top: 0px
}



/*Nutrition & Faqs*/
.flex-nutrition-main {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    text-align: left;
    background-color: #fff;
    list-style-type: none;
    border-bottom: 25px solid #ffcc00;
}

.flex-nutrition {
    display: flex;
    flex-direction: row;
}

.ingredients {
    width: 100%;
    max-width: 500px;
    position: relative;
    left: -300px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    border-right: 8px solid #ff6699;
    border-bottom: 8px solid #ffcc00;
    border-left: 8px solid #ff6699;
    border-top: 8px solid #ffcc00;
    border-radius: 5px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
}

.ingredients h3 {
    font-size: 35px;
    color: #fff;
    padding: 10px;
    text-shadow: 4px 4px 0 #000, 4px 4px 0 #000, 4px 4px 0 #000, 4px 4px 0 #000;
    text-align: center;
    background-color: #ff0066;
 
}

.ingredients h1 {
    font-size: 19px;
    margin-right: 15px;
}

.ingredients li {
    width: 390px;
    margin: 10px;
}

.vitamins {
    width: 100%;
    max-width: 500px;
    position: relative;
    left: -225px;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    background-color: #fff;
    border-right: 8px solid #ffcc00;
    border-bottom: 8px solid #ff6699;
    border-left: 8px solid #ffcc00;
    border-top: 8px solid #ff6699;
    border-radius: 5px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
}

.vitamins li {
    width: 390px;
    margin: 10px;
}

.vitamins h3 {
    font-size: 35px;
    color: #fff;
    padding: 10px;
    text-shadow: 4px 4px 0 #000, 4px 4px 0 #000, 4px 4px 0 #000, 4px 4px 0 #000;
    text-align: center;
    background-color: #ff0066;
}

.vitamins h1 {
    font-size: 19px;
    margin-right: 15px;
}


.kids-beverage img {
    position: relative;
    left: 220px;
}

.nutrition-main {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    border-top: 20px solid #ff0066;
}

.nutrition-faqs img{
    position: relative;
    right: 50px;
    width: 550px;
    margin: 50px;
}

.nutrition-guide {
    margin: 25px;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 75px;
    background-color: #fff;
    border-right: 12px;
    border-right-color: #ff6699;
    border-right-style: solid;
    border-bottom: 12px;
    border-bottom-color: #ff6699;
    border-bottom-style: solid;
    border-left: 12px;
    border-left-color: #ffcc00;
    border-left-style: solid;
    border-top: 12px;
    border-top-color: #ffcc00;
    border-top-style: solid;
    border-radius: 5px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
}

.nutrition-guide h3 {
    font-size: 40px;
    color: #fff;
    padding: 10px;
    text-shadow: 4px 4px 0 #000, 4px 4px 0 #000, 4px 4px 0 #000, 4px 4px 0 #000;
    text-align: center;
    background-color: #ff0066;
}

.nutrition-guide h1 {
    margin: 50px;
    font-size: 19px;
    text-align: center;
}

/* Blog */
blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    clear: both;
    position: relative;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: #ff6699;
    padding: 5px;
    text-align: center;
    font-size: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-left: 5px;
    border-left-style: solid;
    border-left-color: #ff0066;
    border-right: 5px;
    border-right-style: solid;
    border-right-color: #ff0066;
    border-top: 5px;
    border-top-style: solid;
    border-top-color: #ff0066;
    box-shadow: 10px 10px 10px #a3a3a3;
}

blog h5 {
    background: none; 
    text-align: center;
    margin: 20px;
    color: #fff;
}

article {
    background-color: #e2e2e2;
    margin-left: 250px;
    margin-right: 250px;
    border-left: 5px;
    border-left-style: solid;
    border-left-color: #ff0066;
    border-right: 5px;
    border-right-style: solid;
    border-right-color: #ff0066;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: #ff0066;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 10px 10px 5px #a3a3a3;
}

article h2 {
    float: left;
    width: 100%;
    height: 200px;
    background: #e2e2e2;
    margin-top: -20px;
}

article h6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    clear: both;
    position: relative;
    background: #ff0066;
    padding: 5px;
    padding-left: 125px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

article h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    clear: both;
    position: relative;
    background: #fff;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    margin-top: -32px;
    font-size: 16px;
    color: #000;
}

.Kids-Playing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    clear: both;
    position: relative;
    background: #fff;
    margin-top: -20px;
    padding-bottom: 35px
}

.CTA-Button {        /* CTA Click to Home */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    clear: both;
    position: relative;
    background: #fff;
    padding-bottom: 35px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.blog-social {
    margin: auto;
}

.blog-social img {
    display: block;
    padding: 5px;
    width: 35px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.Share-Article {
    font-family: Fredoka;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-align: center;
    margin-top: 25px;
}


/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff6699; 
    color: white;
    text-align: center;
    padding: 50px 0;
    width: 100%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    overflow-y: hidden;
    overflow-x: hidden;
}

.footer div {
    margin-bottom: -60px;
}

.logo-footer {
    position: relative;
    bottom: 63px;
    left: -715px; 
}

.logo-footer img {
    width: 200px; 
    height: auto;
}

.social {
    position: relative;
    bottom: 55px;
    right: -725px; 
}

.social img {
    width: 100px; 
    height: auto;
}

.payment-method {
    position: relative;
    bottom: 50px;
    left: -500px; 
}

.payment-method img {
    width: 200px; 
    height: auto;
}


/* Media Queries */
@media (max-width: 1500px) {
    .about-content p {
        font-size: 17px;
        font-weight: 500;
        color: #000;
        line-height: 1.8;
    }
    
@media (max-width: 1200px) {
    .about-content p {
        font-size: 15px;
        font-weight: 500;
        color: #000;
        line-height: 1.8;
    }

@media (max-width: 1150px) {
    .logo img {
        list-style-position: inside;
        width: 80%;
        max-width: 300px;
        height: auto;
    }
    
    .about-content p {
        font-size: 12px;
        font-weight: 500;
        color: #000;
        line-height: 1.8;
    }


@media (max-width: 790px) {
    
    /* Navigation */
    .header input[type=text] {
        display: none;
    }

    .topnav ul {
        list-style-type: none;
        background-color: #ff0066;
        margin: 0;
        padding: 0;
        display: block;
        justify-content: center;
    }
    
    .topnav ul li {
        margin: 0px 0px;
        position: relative;
        border-bottom: 5px;
        border-bottom-color: #ffcc00;
        border-bottom-style: solid;
    }
    
    .topnav ul li a {
        font-size: 0.8em;
        }
    
    .topnav ul li ul li {
        display: none;
    }
    
    .active {
        background-color: #ff6699;
    }
    
    /* Logo */
    .logo {
        display: flex;
        position: inherit;
        top: 5px;
        left: 110px;
    }
    
    .logo img {
        width: 100%;
        width: 750px;
        height: auto;
    }
    
    /* Slider */
    .slider {
        display: none;
    }
    
    /* Main Content */
    .info {
        margin-bottom: 0px;
        margin-top: 25px;
        }
    
    /* About Us */
    .collage {
        display: none;
    }
    
    .about-content h1 {
        left: 0px;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 50px;
        font-size: 50px;
    }
    
    .flex-about h3{
        position: relative;
        left: 75px;
        top: 10px;
        z-index: 1;
        text-shadow: 2px 2px 0 #000, 2px 2px 0 #000, 2px 2px 0 #000, 2px 2px 0 #000;
    }
    
        .testimonials {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
    }
    
    
    /* Blog */
    blog {
        margin-top: 25px;
        margin-left: 30px;
        margin-right: 30px;
        padding: 5px;
    }
    
    blog h5 {
        background: none; 
        text-align: center;
        margin: 1px;
        color: #fff;
        font-size: 35px;
    }
    
    article {
        margin-left: 30px;
        margin-right: 30px;
    }
    
    article h6 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        clear: both;
        position: relative;
        background: #ff0066;
        padding: 5px;
    }
    
    article h1 {
        padding-top: 5px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        font-size: 14px;
    }
    
    .Kids-Playing {
        display: none;  
    }
    
    
    /* Footer */
    .footer {
        margin-top: 90px;
        }
